# Ambiente
.env
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Banco local de testes
*.db
*.sqlite3

# IDEs
.idea/
.vscode/

# Sistema
.DS_Store
Thumbs.db
